html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

.header {
  font-family: B612;
  font-size: 27px;
  padding: 10px;
}
body {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
}

h1 {
  color: black;
  margin-bottom: 5px;
}

h2 {
  color: black;
  font-size: 22px;
  margin-top: 0px;
  margin-left: 320px;
}

.row:after {
  padding-top: 20px;
  content: "";
  display: table;
  clear: both;
}

table {
  margin-left: 200px;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
  overflow="auto";
}

.selectBox {
  margin-left: 200px;
  width: 350px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  color: black;
}

#myText {
	font-family: sans-serif;
    font-size: 20px;
	color: black;
}

#Text {
	font-family: sans-serif;
    font-size: 20px;
	color: brown;
}